$dark-gray:       #364657;
$gray:            #bec3c7;
$light-gray:      #f5f6f8;
$text-gray:       #9fa6ad;
$light-green:     #1bbc9b;
$btn-green:       #00ae69;
$btn-dark-green:  #048f59;
$btn-orange:      #e77d24;
$btn-dark-orange: #ce8442;
