@import 'custom_theme/variables';

@import 'custom_theme/custom_stack';
@import 'custom_theme/steps';
@import 'custom_theme/buttons';
@import 'custom_theme/helpers';
@import 'custom_theme/form';

.city-which-prays {
  font-family: 'Open Sans', sans-serif;

  .bg {
    &-light-gray {
      background-color: $light-gray;
    }
  }

  .dark-gray {
    color: $dark-gray;
  }

  .light-green {
    color: $light-green;
  }

  .table {
    color: $text-gray;

    thead {
      color: $dark-gray;
    }

    &.table-hover tbody tr:hover td,
    &.table-hover tbody tr:hover th {
      background-color: $light-green;
      color: #fff;
    }
  }

  .custom-hr {
    margin-left: 20px;
    margin-right: 20px;
    border-color: $gray;
  }

	.vertical-center {
		min-height: 100%;
		min-height: 100vh;

		display: flex;
		align-items: center;
	}
}
